#client_gui {
    background-color: #1a1a1a;
    padding: 0;
    margin: 0;
}

#disconnect_button {
    background: #1e1e1e;
    color: #fefefe;
    font-weight: bold;
    font-size: 16px;
    border: none;
    border-radius: 20px;
    transition: all 0.4s; 
    padding: 5px 10px; 
}

#disconnect_button:hover {
    box-shadow: 0 0 5px 4px rgba(255, 255, 255, 0.15); 
}


#chat_display text {
    background-color:  #1e1e1e;
}

#message_entry {
    border: 1px solid #ccc;
    background-color: #2e2e2e; 
    color: #fefefe; 
    border-radius: 10px;
    caret-color: #fefefe; 
}

#send_button {
    background: #1e1e1e;
    color: #fefefe;
    font-weight: bold;
    font-size: 16px;
    border: none;
    border-radius: 12px;
    transition: all 0.4s; 
    padding: 5px 10px; 
}

#send_button:hover {
    box-shadow: 0 0 5px 4px rgba(255, 255, 255, 0.15); 
}

#text_box {
    background-color: #3f3f3f; 
    padding: 10px;
    border-radius: 8px;
}

#scrolled_window *{
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    border-radius: 2px;
}

#client_list_box {
    background-color: #3f3f3f; 
    border-radius: 8px;
}

#client_tree_view {
    background-color: #1e1e1e;
    border: 1px solid #ccc;
    color: #e0e0e0; 
    font-size: 16px;
    font-weight: bold;
}

#online_users_count {
    font-weight: bold;
    font-size: 18px; 
    color: #388E3C;
}
