#login_window {
    background-image: url("../assets/Login.jpg");
    background-size: cover;
    background-position: center;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    font-size: larger;
    color: #f0f0f0;
}

#login_window * {
    padding: 0;
    margin: 0;
}

#sub_box {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 10px; 
    padding: 50px;
    box-shadow: 0 0 20px 3px rgba(255, 255, 255, 0.1);
}

.entry {
    border-radius: 10px; 
    font-size: 14px; 
    background: transparent;
    color: #f0f0f0;
    border: 1px solid rgba(255, 255, 255, 0.8);
}

#button_connect {
    color: #f0f0f0;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    border: none;
    margin-top: 25px;
    min-width: 100px;
    padding: 5px 10px; 
    font-size: 18px;  
    transition: all 0.4s;
}

#button_connect:hover {
    box-shadow: 0 0 5px 4px rgba(255, 255, 255, 0.15);
}

#title_label {
    font-size: 32px; /* Increase font size for better 3D effect */
    font-weight: bold;
    color: rgba(255, 255, 255, 0.8); 
    text-shadow: 
        1px 1px 2px rgba(0, 0, 0, 0.7), /* Dark shadow for initial depth */
        2px 2px 4px rgba(0, 0, 0, 0.6), 
        3px 3px 6px rgba(0, 0, 0, 0.5), 
        4px 4px 8px rgba(0, 0, 0, 0.4), 
        5px 5px 10px rgba(0, 0, 0, 0.3), 
        6px 6px 12px rgba(0, 0, 0, 0.2); /* Softer, blurrier shadows for a 3D effect */
}